<h3>ALL FUNDRAISERS</h3>
{{#each fundraisers as |fundraiser|}}
<li>
  <h4>Name: {{fundraiser.name}}</h4>
  <h5>Description: {{fundraiser.description}}</h5>
  <h5>Website: {{fundraiser.url}}</h5>
  <h5>City: {{fundraiser.city}}</h5>
  <h5>Fundraiser Id: {{fundraiser.id}}</h5>
</li>
{{/each}}
  <!--<li <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addtoLib" id="add-to-lib">Add to Library</li>
    <li button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#deleteFromLib" id="deleteFromlib">Delete from Library</li>
-->
